.grid-wrapper {
  border: 1px solid black;
  height: 1000px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}

.grid-square {
  height: 250px;
  width: 250px;
  position: relative;
  text-align: center;
  margin: 0;
  border: solid 1px black;
}
